:root{
  --primary:#983628;
  --secondary:#581908;
  --tertiary:#2E0E02;
  --fourth:#E2AEDD;
  --light:#EBCBF4;
  --dark: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: var(--secondary);
  color:var(--light);
}

a:link, a:visited{
  color: var(--dark);
  text-decoration: none;
  font-size: 22px;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
}

.Nav{
  flex-grow: .4;
}

ul{
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  margin-right: auto;
  justify-content: space-around;
}

footer{
  position: fixed;
  width: 100%;
  background-color: var(--secondary);
  text-align: center;
  bottom: 0;
  vertical-align: middle;
}

.footerLogo{
  margin: 8px;
}